#content {
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);
    min-height: 200px;
    width: 100%;
    // background-image: url('./madi-mountain.png');
}

.centerBox {
    display: block;
    max-height: 300px;
    text-align: center;
    img {
        display: block;
        height: 150px;
    }
    .icon {
        margin-right: 10px;
        padding-right: 10px;
    }
    :global(a.btn) {
        padding: 20px 26px;
    }
}
